*.py[co]
/venv
.version
debian/.debhelper/
debian/changelog
debian/debhelper-build-stamp
debian/files
debian/ocf-utils.debhelper.log
debian/ocf-utils.postinst.debhelper
debian/ocf-utils.substvars
debian/ocf-utils/
dist_*/
